In [6]:
import pandas as pd
import seaborn as sns

In [7]:
import chardet

with open("prueba.csv", "rb") as f:
    result = chardet.detect(f.read())
    encoding = result["encoding"]

df = pd.read_csv("prueba.csv", encoding=encoding, on_bad_lines="skip",sep=";")

In [8]:
df.shape

(16326, 10)

In [9]:
df.describe()

,Año,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global
count,16326.000000,16326.000000,16326.000000,16326.000000,16326.000000,16326.000000
mean,2006.405611,0.265415,0.147563,0.078667,0.048327,0.540247
std,5.828189,0.821616,0.508780,0.311566,0.189891,1.565779
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,2017.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [10]:
# Agrupar por plataforma y sumar las ventas globales
ventas_por_plataforma = df.groupby("Plataforma")["Ventas Global"].sum()

# Ordenar las plataformas por las ventas globales en orden descendente
ventas_por_plataforma_ordenadas = ventas_por_plataforma.sort_values(ascending=False)

print(ventas_por_plataforma_ordenadas)

Plataforma
PS2     1233.46
X360     969.61
PS3      949.35
Wii      909.81
DS       818.67
PS       727.39
GBA      313.56
PSP      291.71
PS4      278.10
PC       255.05
GB       254.42
XB       252.09
NES      251.07
3DS      246.28
N64      218.21
SNES     200.05
GC       197.14
XOne     141.06
2600      86.57
WiiU      81.86
PSV       61.63
SAT       33.59
GEN       28.36
DC        15.97
SCD        1.87
NG         1.44
WS         1.42
TG16       0.16
3DO        0.10
GG         0.04
PCFX       0.03
Name: Ventas Global, dtype: float64

In [11]:
ventas_por_pais = df.groupby("Editorial")["Ventas Global"].sum()
ventas_por_pais_ordenadas = ventas_por_pais.sort_values(ascending=False)

print(ventas_por_pais_ordenadas)

Editorial
Nintendo                       1784.43
Electronic Arts                1093.39
Activision                      721.41
Sony Computer Entertainment     607.28
Ubisoft                         473.25
                                ...
Epic Games                        0.01
Paradox Development               0.01
Rain Games                        0.01
Ascaron Entertainment             0.01
Commseed                          0.01
Name: Ventas Global, Length: 576, dtype: float64